.DS_Store
__pycache__
data
_build
build
.pytest_cache
node_modules
TERMite_testing
__MACOSX
tmp*
VOCAB_BUILD_*
*.tsv
*.tsv.extra
*.txt
*.json
*.egg-info
*.sqlite3
*.zip
*.err
*.out
*.termite*
*.skos
termitebuild.conf
*.sqlite*
*.pyc
*.remove
*.log
*.new
*.old
*.diff
*.owl
*.obo
*.extra
*.yaml
*.tmp
*.gz
*.so
*.cpp
*.html
.venv
robot.jar
.idea
*.xlsx
